.archive-meta h3 {
    line-height: 2.0;
}

.archive-meta sup {
    font-size: 10px;
    -moz-border-radius: 5px; 
    -webkit-border-radius: 5px; 
    border-radius: 5px;
    background: #ddd none repeat scroll 0 0;
    vertical-align: top;
}

.archive-meta span {
    margin-right: 20px;
}

.archive-meta .archive-list-count::before {
    content: " (";
}

.archive-meta .archive-list-count::after {
    content: ")";
}