<% if (config.duoshuo_shortname && page.comments){ %>

<section class="post-comments">

    <div class="ds-thread" data-thread-key="<%- page.path %>"></div>

    <script type="text/javascript">
      var duoshuoQuery = {short_name:"<%= config.duoshuo_shortname %>"};
      (function() {
        var ds = document.createElement('script');
        ds.type = 'text/javascript';ds.async = true;
        ds.src = '//static.duoshuo.com/embed.js';
        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0] 
        || document.getElementsByTagName('body')[0]).appendChild(ds);
      })();
    </script> 

</section>

<% } %>