<!-- totop -->
<div id="totop" style="position:fixed;bottom:50px;right:30px;cursor: pointer;">
<a title="back to top"><img style="width:30px;height:30px;" src="<%- config.root %>images/totop.png"/></a>
</div>
<script>
(function($) { 
  var upperLimit = 100;
  var scrollElem = $('#totop');
  var scrollSpeed = 500; 
  scrollElem.hide();
  $(window).scroll(function () {            
    var scrollTop = $(document).scrollTop();       
    if ( scrollTop > upperLimit ) {
      $(scrollElem).stop().fadeTo(300, 1); // fade back in           
    }else{       
      $(scrollElem).stop().fadeTo(300, 0); // fade out
    }
  });
  $(scrollElem).click(function(){
    $('html, body').animate({scrollTop:0}, scrollSpeed); return false;
  });
})(jQuery);
</script>